/* note: закоменченные строки закомменчены ради красоты */

.container {
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    gap: 1rem;

/*    box-shadow: var(--primary-shadow);*/
}

div {
    border-radius: 1rem;
}

.row {
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--primary-shadow);

    padding: 1.5rem;

    display: flex;
    flex-direction: row;
    gap: 1rem;

    justify-content: start;
}

.row_plug {
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--primary-shadow);

/*    padding: 1.5rem;*/
}

.column {
    width: 100%;
    box-sizing: border-box;
    /*    box-shadow: var(--primary-shadow);*/

/*    padding: 1.5rem;*/

    display: flex;
    flex-direction: column;
    gap: 1rem;

    align-items: start;
}

.column_plug {
    width: 100%;
    box-sizing: border-box;
    box-shadow: var(--primary-shadow);
}

/*.row .row, .row .column, .row .row_plug, .row .column_plug,
.column .row, .column .column, .column .row_plug, .column .column_plug
{
    justify-content: start;
}*/

/* wa: фикс-костылек, но только ради красоты */
.tab {
    border: 1px solid lightgray;
    box-shadow: none;
}

/* .row > div.tab:first-child { border-radius: 1rem 0 0 1rem; } */

.first_tab {
    border-radius: 1rem 0 0 1rem;
}

.last_tab {
    border-radius: 0 1rem 1rem 0;
}

input {
    padding: 0.5rem;
}

/* --- note */
.column_grid {
    padding: 1.5rem;

    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.75rem 1rem;
    align-items: center;
}

.column_grid label {
    display: contents;
}

.column_grid span {
    text-align: left;
}

.column_grid input {
    width: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
}
/* --- */

.button {
    width: 100%; /* все ок, пока внутри flex-контейнера */
}

.table {
    width: 100%;

    border: 1px solid lightgray;
    border-collapse: collapse;
}
